<form [formGroup]="uploadForm" class="form-group" (ngSubmit)="onSubmit()">
    <div class="card mb-3">
        <div class="card-header">
            Basic beer info.
        </div>
        <div class="card-body">
            <div class="form-group">
                <input type="text" formControlName="beerName" class="form-control" placeholder="Beer Name (required)">
            </div>
            <div class="form-group">
                <textarea class="form-control" formControlName="beerDescription" placeholder="Beer Description"></textarea>
            </div>
            <div class="custom-file">
                <input class="custom-file-input" type="file" id="beerLabelImg" (change)="onFileChange($event)" />
                <label class="custom-file-label" for="beerLabelImg">Choose image with beer labal.</label>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">Beer type</div>
        <div class="card-body">
            <div class="form-group">
                <h4>Selected Type:</h4>
                <h5>{{ selectedType.beerTypeName }}</h5>
            </div>

            <div class="btn-group">
                <div class="dropdown mr-2">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">
                          Choose beer type:
                        </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" *ngFor="let type of beerTypes" (click)="setBeerType(type)">{{ type.beerTypeName }}</a>
                    </div>
                </div>

                <button class="btn btn-outline-secondary mr-2" type="button">
                        Add beer type
                </button>
            </div>
        </div>
    </div>

    <div class="card mb-3 ">
        <div class="card-header ">
            Save all info.
        </div>
        <div class="card-body ">
            <div class="form-group ">
                <button type="submit " class="btn btn-primary ">Save</button>
            </div>
        </div>
    </div>






    <br>Value: {{ uploadForm.value | json }}