<div class="card-deck" style="max-height: 200px;">
    <div class="card" *ngFor='let beer of beers'>
        <div *ngIf="beer.beerLabelImg === 'null' || beer.beerLabelImg === ''; then placeholder else getImg"></div>
        <ng-template #placeholder>
            <img class="card-img-top" src="./assets/img/beer-placeholder.png" alt="Beer label image">
        </ng-template>
        <ng-template #getImg>
            <img class="card-img-top" [src]='beer.beerLabelImg' alt="Beer label image">
        </ng-template>

        <div class="card-header">
            <h5 class="card-title">{{ beer.beerName }}</h5>
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer">
            <a [routerLink]="['/beers', beer.beerId]"><i class="fa fa-search"></i></a>
            <a [routerLink]="['/beers', beer.beerId]"><i class="fa fa-edit"></i></a>
            <a [routerLink]="['/beers', beer.beerId]"><i class="fa fa-trash"></i></a>
        </div>
    </div>

    <button [routerLink]="['/beer-add']" class="floating-btn">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
</div>