.beer-card {
    height: 350px;
    background-color: #194052;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgb(70, 70, 70);
}

.beer-card-image {
    display: block;
    margin: auto;
    width: auto;
    height: 100%;
}

.beer-card-body {
    position: relative;
}

.beer-card-body-text {
    position: absolute;
    bottom: 5px;
    left: 10px;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}